<style>
  .image-gallery {overflow: auto; margin-left: -1%;}
  .image-gallery a { display: block; margin: 0 0 1% 1%; width: 100%;}
  .image-gallery a img {width: 100%;}
  .image-gallery caption {text-align:center; margin: 0 0 1% 1%; width: 17%; font-style: none;}
</style>

<div class="image-gallery">
{% for file in site.static_files %}
  {% assign shortname = file.basename | slice: 5, 25 %}
  {% assign fullname = file.basename | slice: 5, 400 %}
  {% if file.path contains include.folder %}
  <div class="span300">
  <a href="{{ file.path }}" caption="{{fullname}}">
    {% if file.extname == '.jpg' or 
      file.extname == '.jpeg' or 
      file.extname == '.JPG' or 
      file.extname == '.JPEG' %}      
        <img src="//images.weserv.nl/?url=stupoole.github.io{{ file.path }}&w=300&h=300&output=jpg&t=square" alt="{{basename}}"/>
      {% else if file.extname == '.png' or
        file.extname ==".PNG" %}
        <img src="//images.weserv.nl/?url=stupoole.github.io{{ file.path }}&w=300&h=300&output=png&t=square" alt="{{basename}}"/>
      {% endif %}
  </a>
  <p>{{ shortname }}</p>
  </div>
  {% endif %}
{% endfor %}
</div>