body {
    margin: 0;
    padding: 0;
    color: rgba(65,65,65,1); 
    font-family: Helvetica, Sans-Serif;
	background: rgba(255,255,255,1);
}
h1, h2, h3, h4 {
    font-family: "deja vu sans", sans-serif;
	color: indigo;
}

h2, h3, h4 {
    margin: 0;
}

p {
	line-height: 1.75em;
	text-indent: 2em;
}

br {
	text-indent: 3em;
}

.mainhead {
	max-width: 100%
}
.content {
	max-width: 1000px;
	margin-right: auto;
	margin-left: 20px;
}


.header-container {
	width: 100%;
	background-color: indigo;
	color: mintcream;
	padding: 0.1em;
	padding-top: 0.5em;
	padding-left: 1em;
	padding-bottom: 0.5em;
	font-family: "deja vu sans", sans-serif;
}

.title {
	font-size: 250%;
	margin-top: 0.7em;
	padding-bottom: 0.4em;
}

.byline {
	font-size: 180%;
	margin-bottom: 1em;
	padding-left: 1em;
	color: indigo;
}

.bottom-padding {
	padding-bottom: 5em;
}