body {
    margin: 0;
    padding: 0;
    color: rgba(65,65,65,1); 
    font-family: Helvetica, Sans-Serif;
	background: rgb(221, 238, 254);
}
h1, h2, h3, h4 {
    font-family: "deja vu sans", sans-serif;
	color: rgba(30,179,175,1);
}

h2, h3, h4 {
    margin: 0;
}

p {
	line-height: 1.75em;
	text-indent: 2em;

}

br {
	text-indent: 3em;
}

.content, .mainhead {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
}




.fixed{
 	position:fixed;
 	bottom: 0;
 	right: 0;
 	z-index: -1;
}


.header-container {
	width: 100%;
	background-color: rgba(30,179,175,1);
	color: mintcream;
	padding: 0.1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-family: "deja vu sans", sans-serif;
	margin-left: -1em;
	margin-right: -1em;
	padding-left: 1em;
}

.title {
	font-size: 250%;
	margin-top: 0.7em;
	padding-bottom: 0.4em;
}

.byline {
	font-size: 180%;
	margin-bottom: 1em;
	color: rgba(30,179,175,1);
}